# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.python-version

# Virtual environments
venv/
.env
.venv/

# Editors/OS
.DS_Store
.idea/
.vscode/

# App/runtime artifacts
chroma_db/
*.sqlite3

# Logs
*.log


